<html>
	<form action="/addBook" type="get">
		<p>
			书名
			<input type="text" id="bookName" name="bookName">
		</p>
		<p>
			作者
			<input type="text" id="author" name="author">
		</p>
			<p>
			价格
			<input type="text" id="price" name="price">
		</p>
			<p>
			分类
			<input type="text" id="category" name="category">
		</p>
		<input type="submit">
	</form>
</html>