<html>
<style>
	table,tr,td{
		border: solid grey 1px; 
	}
</style>
	<header>
		
	</header>
	<table>
		<tr>
			<td>书名</td>
			<td>作者</td>
			<td>分类</td>
			<td>价格</td>
			<td>操作</td>
		</tr>
		<%for(var i=0;i<books.length;i++){%>
		<tr>
			<td><%=books[i].bookName%></td>
			<td><%=books[i].author%></td>
			<td><%=books[i].category%></td>
			<td><%=books[i].price%></td>
			<td><a href="/editBook">操作</a></td>
		</tr>
		<%}%>
		
	</table>
	<body>
		<button type="button" formaction="/addBookView" formtarget="_blank" formmethod="get" class="addBookView" onclick="addBookView()">【增加书籍】</button>
	</body>

	<footer>
		
	</footer>
	<script>
		function addBookView(e){
			console.log(e);
			window.location = "/addBookView"
		}
	</script>
</html>